.row
  .col-md-12.login-box__message
    %h1= t('.log_in')
.row
  .col-md-12.login-box__action
    = link_to t('.google_login'), '/auth/google_oauth2', class: 'btn btn-default'
    - if Rails.env.development?
      = link_to t('.dev_login'), '/auth/developer', class: 'btn btn-default'

