.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('.title')
      .panel-body
        .row
          .col-md-8.col-xs-8
            .upcoming-webinar
              %span.title= webinar.title
              %p= webinar.description
          .col-md-4.col-xs-4
            %img.pull-right.author-image{ src: webinar.user.image_url }
      .panel-footer
        Tune in on
        %strong= l webinar.planned_date, format: :short
