.row
  .col-md-5.col-xs-12
    %img{ src: webinar.thumbnail }
  .col-md-7.col-xs-12
    .row
      .col-md-12
        =webinar.title
    .row
      .col-md-12
        =webinar.title
    .row
      .col-md-12
        =webinar.title
