.row
  .col-md-5.col-xs-12
    %img{ src: webinar.thumbnail }
  .col-md-7.col-xs-12
    .row
      .col-md-2
        .tile.tile-video
          %span.glyphicon.glyphicon-play
      .col-md-2
        .tile.tile-lang
          %span= webinar.language
      - if webinar.blogpost_url.present?
        .col-md-2
          .tile.tile-blog
            %span.glyphicon.glyphicon-book
      - if webinar.doc_url.present?
        .col-md-2
          .tile.tile-doc
            %span.glyphicon.glyphicon-file
      - if webinar.code_url.present?
        .col-md-2
          .tile.tile-code
            %span.glyphicon.glyphicon-list-alt
      - if webinar.translation_available?
        .col-md-2
          .tile.tile-subs
            %span.glyphicon.glyphicon-subtitles
    .row
      .col-md-12
        %h3
          %span.author= "#{webinar.user.name}:"
          =webinar.title
      .col-md-12
        %p=webinar.description
.row
  .col-md-12
    %hr
