.row
  .col-md-5.col-xs-12
    %img{ src: webinar.thumbnail }
  .col-md-7.col-xs-12
    .row
      .col-md-12
        %h4=webinar.title
    .row
      .col-md-2
        .tile.tile-video
          .glyphicon.glyphicon-play
      .col-md-2
        .tile.tile-lang
          = webinar.language
      - if webinar.blogpost_url.present?
        .col-md-2
          .tile.tile-blog
            .glyphicon.glyphicon-book
      - if webinar.doc_url.present?
        .col-md-2
          .tile.tile-doc
            .glyphicon.glyphicon-file
      - if webinar.code_url.present?
        .col-md-2
          .tile.tile-code
            .glyphicon.glyphicon-list-alt
      - if webinar.translation_available?
        .col-md-2
          .tile.tile-subs
            .glyphicon.glyphicon-subtitles
