- if upcoming_webinar.present?
  = render 'upcoming_webinar', webinar: upcoming_webinar


.row
  .col-md-12
    %h3= t('.title')

= render partial: 'webinar', collection: webinars

= paginate webinars
