.col-md-12.col-xs-12
  .row
    .col-md-10.col-xs-8
      %span.author= "#{webinar.user.name}:"
      = webinar.title
    .col-md-2.col-xs-4
      .pull-right
        = webinar.like_link(current_user)
