$headerBg: #263238;
$headerBorder: #263238;
$headerLink: #f57f17;
$headerLinkHover: #37474f;
$headerDropdownOpen: #455a64;
$headerDropdownHover: #eceff1;

$loginBoxBg: #0091ea;
$loginBoxActionBg: #00b8d4;
