.navbar-webinarium {
  background-color: $headerBg;
  border-color: $headerBorder;
  a, li span {
    color: $headerLink;
  }
  li>a:hover, a:hover {
    background-color: $headerLinkHover;
  }
  li.open .dropdown-toggle {
    background-color: $headerDropdownOpen;
  }
  .dropdown-menu li>a:hover {
    background-color: $headerDropdownHover;
  }
}

.user-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
