.login-box__message {
  background-color: $loginBoxBg;
  height: 200px;
  color: #fff;
  text-align: center;
}
.login-box__action {
  background-color: $loginBoxActionBg;
  text-align: center;
  height: 100px;
  color: #fff;
  line-height: 100px;
}
