.tile {
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  span {
    line-height: 80px;
  }
}
.tile-video {
  background-color: #e00032;
}
.tile-lang {
  background-color: #6200ea;
}
.tile-blog {
  background-color: #4d69ff;
}
.tile-doc {
  background-color: #00b8d4;
}
.tile-code {
  background-color: #64dd17;
}
.tile-subs {
  background-color: #ffab00;
}

span.author {
  color: #263238;
  font-weight: bold;
}
