.tile {
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  span {
    line-height: 80px;
  }
  a {
    color: #fff;
  }
}
.tile-description {
  width: 80px;
  text-align: center;
}

.tile-video {
  background-color: #e00032;
  &:hover {
    background-color: #b0120a;
  }
}
.tile-lang {
  background-color: #6200ea;
}
.tile-blog {
  background-color: #4d69ff;
  &.faded, &.faded:hover {
    background-color: #a6baff;
  }
  &:hover {
    background-color: #2a36b1;
  }
}
.tile-doc {
  background-color: #00b8d4;
  &.faded, &.faded:hover {
    background-color: #84ffff;
  }
  &:hover {
    background-color: #006064;
  }
}
.tile-code {
  background-color: #64dd17;
  &.faded, &.faded:hover {
    background-color: #ccff90;
  }
  &:hover {
    background-color: #33691e;
  }
}
.tile-subs {
  background-color: #ffab00;
  &.faded {
    background-color: #ffe57f;
  }
}

span.author {
  color: #263238;
  font-weight: bold;
}
img.author-image {
  width: 100px;
  height: 100px;
}
.upcoming-webinar {
  .title {
    font-size: 25px;
    font-weight: bold;
  }
}

.count {
  display: inline-block;
  margin-top: 2px;
  .box {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  .count-box {
    margin-left: -4px;
  }
  &.liked-by {
    .icon-box {
      background-color: #311b92;
    }
    .count-box {
      background-color: #512da8;
    }
  }
  &.starred-by {
    .icon-box {
      background-color: #bf360c;
    }
    .count-box {
      background-color: #e64a19;
    }
  }
}
