.row
  .col-md-10
    = markdown suggestion.description
  .col-md-2
    .row
      .count.liked-by
        .box.icon-box
          .glyphicon.glyphicon-thumbs-up
        .box.count-box
          = suggestion.suggestion_votes_count
    .row
      = suggestion.upvote_link(current_user)
.row
  .col-md-12
    %hr
