%nav.navbar.navbar-webinarium{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { target: "#header-navbar-collapse", toggle: "collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path } Webinarium
    #header-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if authenticated?
          %li
            %img.user-img{ src: current_user.image_url }
            %span= current_user.name

